.menuitem {
    margin-right: 55px;
}
#close {
    display: inline;
    margin-right: 0px;
}

.column {
    position: relative;
    z-index: 0;
    background-image: none;
    display: block;
    width: 100%;
    background-position: initial initial;
    background-repeat: initial initial;
}

.desc {
    margin-left: 25%;
    width: 75%;
    height: 100%;
    padding-top: 30px;
    top: 50px;
}

.backstretch {
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 957px;
    width: 25%;
    z-index: -999998;
    position: absolute;
}

.backstretch img {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    max-width: none;
    z-index: -999999;
    right: 0;
    top: 0;
}

/*.pwi_container {
    background-color: #000;
    color: #fff;
}*/
