## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="extra_styles">
    <link href="/assets/css/style_internal.css" rel="stylesheet" type="text/css"/>
</%block>
<%block name="extra_top_menu_items">
    <a id="back" class="menuitem" href="..">
        <span class="info">Torna al nivell anterior</span>
    </a>
</%block>
<%block name="content">
    <!-- SECTIONS  -->
    <section class="main show">
        <div id="mobile-header-image">
            <img src="/images/photos/gusanito.jpg" alt=""/>
        </div>
        <article class="column archive active">
            <div class="desc">
                <div class="content">
                    <h1 class="page-title">${title}</h1>
                    <div class="grids">
                        % for post in posts:
                            <div class="grid-3">
                                <img class="event-img" src="/images/photos/post.jpg" alt=""/>
                                <a href="${post.permalink()}"><h6>
                                    <span class="event-title">${post.title()}</span><br/>
                                    <span class="event-info">${post.formatted_date('%d %b')}</span>
                                </h6></a>
                            </div>
                        % endfor
                    </div>
                </div>
            </div>
            <div class="backstretch">
                <img src="/images/photos/colla.jpg">
            </div>
        </article>
    </section>
</%block>
<%block name="extra_js">
    <script src="/assets/js/custom.js" type="text/javascript"></script>
</%block>
