## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace file="story_helper.tmpl" import="helper"/>
<%block name="extra_head">
    <link href="/assets/css/style_internal.css" rel="stylesheet" type="text/css"/>
</%block>
<%block name="extra_top_menu_items">
    <a id="close" href="/" class="menuitem">
        <span class="info">Torna a l'inici</span>
    </a>
</%block>
<%block name="content">
    <!-- SECTIONS  -->
    <section class="main show">
        <div id="mobile-header-image">
            <img src="/images/photos/l-1.jpg" alt=""/>
        </div>
        <article class="column ${' '.join(post.tags)} active">
            <div class="desc">
                <div class="content">
                    <h1 class="page-title">${title}</h1>
                    <div class="grids">
                        <div class="grid-12">
                            ${post.text(lang)}
                            ${page_list}
                        </div>
                        ${other_pages()}
                        %for other in page_list:
                            <div class="grid-4">
                                <a class="post-img" href="${link}"><img src="/images/photos/post.jpg" alt=""/></a>
                            </div>
                            <div class="grid-8">
                                <h3>
                                    ${other.title}
                                    <span class="date">
                                        <time class="published"
                                            datetime="${post.date.isoformat()}">
                                            ${other.formatted_date(date_format)}
                                        </time>
                                    </span>
                                </h3>
                                ${other.text(teaser_only=index_teasers)}
                            </div>
                            <hr/>
                        %endfor
                    </div>
                </div>
            </div>
            <div class="backstretch">
                <img src="/images/photos/colla.jpg">
            </div>
        </article>
    </section>
</%block>
<%block name="extra_js">
    <script src="/assets/js/custom.js" type="text/javascript"></script>
</%block>

