## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="extra_styles">
    <link href="/assets/css/jquery.kwicks.css" rel="stylesheet" type="text/css"/>
    <!--<link   href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>-->
    <style type="text/css">
        .kwicks {
            /*width: 515px;*/
            height: 500px;
            margin-bottom: 2em;
        }
        .kwicks > li {
            height: 500px;
            /* overridden by kwicks but good for when JavaScript is disabled */
            /*width: 125px;
            margin-left: 5px;
            float: left;*/
        }
        .kwicks > li > h3 {
            position: absolute;
            bottom: 0.1em;
            left: 1em;
        }
        .kwicks > li > a {
            height: 500px;
        }
    </style>

    <!-- These files are needed for ColorBox -->
    <link href="/assets/jquery.pwi/js/jquery.colorbox/colorbox.css" rel="stylesheet" type="text/css"/>

    <link href="/assets/css/style_internal.css" rel="stylesheet" type="text/css"/>
</%block>
<%block name="extra_top_menu_items">
    %if permalink.endswith('.html') and not permalink.endswith('index.html'):
        <a id="back" class="menuitem" href=".">
    %else:
        <a id="back" class="menuitem" href="..">
    %endif
        <span class="info">Torna a un nivell anterior</span>
    </a>
</%block>
<%block name="content">
    <!-- SECTIONS  -->
    <section class="main show">
        <div id="mobile-header-image">
            <img src="/images/photos/gusanito.jpg"
                alt="El gusanito, Nit de foc de L'Hospitalet, 2013"/>
        </div>
        <article class="column ${' '.join(post.tags)} active">
            <div class="desc">
                <div class="content">
                    <h1 class="page-title">${title}</h1>
                    <div class="grids">
                        <div class="grid-12">
                            ${post.text(lang)}
                        </div>
                    </div>
                </div>
            </div>
            <div class="backstretch">
                <img src="/images/photos/colla.jpg">
            </div>
        </article>
    </section>
</%block>
<%block name="extra_js">
    <script src="/assets/js/jquery.kwicks.js" type="text/javascript"></script>
    <!-- These files are needed for ColorBox -->
    <script src="/assets/jquery.pwi/js/jquery.colorbox/jquery.colorbox-min.js" type="text/javascript"></script>

    <script src="/assets/js/custom.js" type="text/javascript"></script>
    <script type="text/javascript">
        // bootstrap: $('.carousel').carousel();
        $(function() {
            console.log(".kwicks: ", $('.kwicks'));
            $('.kwicks').kwicks({
                maxSize : '75%',
                //maxSize: 250,
                spacing: 5,
                behavior: 'menu'
            });
        });
    </script>
</%block>

